@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3edf8;
    --foreground: #1b1b1b;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Noto Sans Lao", sans-serif; 
}
@media print {
  @page {
    margin-bottom: 10mm;
    margin-left: 10mm;
    margin-right: 10mm;
  }
}

